<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Passport</th>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1061687685</td>
        <td>Andres Collazos</td>
        <td>
          <div class="buttons-container">
            <div class="table-icon">
              <i class="far fa-edit"></i>
            </div>
            <div class="table-icon">
                <i class="far fa-trash-alt"></i>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>1023456655</td>
        <td>Alejandro Martinez</td>
        <td>
          <div class="buttons-container">
            <div class="table-icon">
              <i class="far fa-edit"></i>
            </div>
            <div class="table-icon">
                <i class="far fa-trash-alt"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
